git+https://github.com/huggingface/transformers
git+https://github.com/pyannote/pyannote-audio
git+https://github.com/openai/whisper.git
gradio==3.12
ffmpeg-python
pandas==1.5.0
pytube==12.1.0
sacremoses
sentencepiece
tokenizers
torch
torchaudio
tqdm==4.64.1
EasyNMT==2.0.2   
nltk
transformers
pysrt
psutil==5.9.2
requests
gpuinfo
faster-whisper
yt-dlp